html{
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
  font-family: 'Noto Sans', sans-serif;
}
.rItems{
  width: 100%;
}
.chakra-slide{
  height: 575px;
  max-width: 205px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}